<%- include('./partials/header'); %>
<main>
    <div class="container">
        <img src="/img/ilustra-user.png" alt="Ilustração de ficha cadastral">

        <div class="box-white">
            <h1>Cadastre-se</h1>

            <form action="/cadastro" method="POST">
                <label for="nome">nome</label>
                <input type="text" name="nome" id="nome">

                <label for="email">Email</label>
                <input type="email" name="email" id="email">

                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha">

                <button type="submit">enviar</button>
            </form>
            <a href="/login">já sou cadastrado</a>
        </div>
    </div>
</main>
<%- include('./partials/footer'); %>