<%- include('./partials/header'); %>

<main class="login">
    <div class="container">
        <img src="/img/ilustra-chill.png" alt="Ilustração de pessoa no sofá com gato">
        <div class="box-white">
            <h1>Login</h1>
            <form action="/login" method="post">
                <input type="text" placeholder="email" name="email">
                <input type="password" placeholder="senha" name="senha">
                <button class="btn btn-primary">entrar</button>
                <a href="/cadastro">ainda não tenho cadastro</a>
            </form>
        </div>
    </div>
</main>
<%- include('./partials/footer'); %>